body {
    font-family: Arial, sans-serif;
    background-color: #abd1b9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-weight: bolder;
}

.all {
    display: block;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .card {
        height: 100px !important;
    }
}

.card {
    width: 350px;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
    cursor: pointer;
    perspective: 1000px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.front-card {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    background-color: rgb(242, 255, 243);
    box-sizing: border-box;
    border: 10px solid rgb(242, 255, 243);
    box-shadow: inset 0px 0px 0px 3px rgb(127, 178, 130);
}

.front-card.flipped {
    background-color: rgb(127, 178, 130);
    border: 10px solid rgb(127, 178, 130);
    box-shadow: inset 0px 0px 0px 3px rgb(242, 255, 243);
}

#front-text {
    color: rgb(44, 44, 114);
    font-size: 25px;
}

.option {
    width: 320px;
    height: 20px;
    margin: 17px;
    background-color: rgb(242, 255, 243);
    color: rgb(44, 44, 114);
    padding-left: 20px !important;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    border: 2px solid rgb(127, 178, 130);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.option:hover {
    background-color: rgb(183, 228, 186);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 2px solid rgb(44, 44, 114);
}

.option.disabled:hover {
    background-color: rgb(242, 255, 243);
    border: 2px solid rgb(127, 178, 130);
}

.btn {
    width: 150px;
    background-color: rgb(242, 255, 243);
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 8px;
    border: 2px solid rgb(127, 178, 130);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    color: rgb(44, 44, 114);
}

.btn:hover {
    background-color: rgb(183, 228, 186);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#final-result {
    color: rgb(30, 111, 73);
    font-size: 30px;
    font-weight: bolder;
}

#counter {
    color: rgb(242, 255, 243);
    font-weight: bolder;
}

.language-selection {
    color: rgb(30, 111, 73);
    font-weight: bolder;
    cursor: pointer;
}

.language-selection input[type="radio"] {
    display: none; 
}
.language-selection label {
    margin-right: 15px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 23px;
}

.language-selection label:before {
    margin-right: 10px;
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid rgb(44, 44, 114);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.language-selection input[type="radio"]:checked + label:before {
    background-color: rgb(30, 111, 73);
}
